.container {
  margin: auto;
  height: 100vh;
}

.nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #fafafa;
}

.nav a {
  color: #0070f3;
  text-decoration: none;
}

.nav a:hover,
.nav a:focus,
.nav a:active {
  text-decoration: underline;
}

.navItem {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}

.main {
  width: 60%;
  padding: 0 2rem;
  margin: auto;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grid {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.button {
  color: white;
  border: none;
  font-size: 16px;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  width: 100px;
}

.button:hover {
  background-color: #0070f3;
  transition: all .15s ease-in-out;
}

.select {
  width: 200px;
  padding: 10px 15px;
  border-radius: 5px;
  margin: 10px 0;
}

.card {
  margin: 0.5rem;
  padding: 0.7rem;
  text-align: center;
  color: #0070f3;
  text-decoration: none;
  border: 1px solid #0070f3;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  width: 100%;
  background-color: #fafafa;
}

.card:hover,
.card:focus,
.card:active {
  background-color: #0070f3;
  color: #fafafa;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}